<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="mode == 'login'" >
    <div>
      <h1>Login</h1>
      
    </div>
      
  
    <div >
      <form [formGroup]="LoginForm">
      
      <ion-item fill="solid">
        <ion-label position="stacked">
          Email
        </ion-label>
        <ion-input [clearInput]="true" formControlName="email" type="email" placeholder="Input your Email"></ion-input>
      </ion-item>

      <ion-item fill="solid">
        <ion-label position="stacked">
          Password
        </ion-label>
        <ion-input [clearInput]="true" formControlName="password" type="password" placeholder="Input your Password"></ion-input>
      </ion-item>
        
          <ion-button expand="block" (click)="login()">Login</ion-button>
      </form>
        <br/>
        <div style="text-align: center;">
          <a routerLink="/register">Register a member?</a>
        </div>
        
      
    </div>
  </div>
  <div *ngIf="mode == 'dashboard'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>DashBoard</ion-card-title>
        <ion-card-subtitle>Hi , {{member_data.member_name}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Manage your personal detail and See your recent order here.
      </ion-card-content>
    </ion-card>

    
    <div>
      <ion-card color="medium">
        <ion-card-header>
          <ion-card-title>Manage Information</ion-card-title>
          
          <ion-card-subtitle>Personal Deatil</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ion-item fill="solid" class="m-3">
            <ion-label position="floating">Name :</ion-label>
            <ion-input type="email" ngModel Name value="{{member_data.member_name}}"></ion-input>
            
          </ion-item>
          <ion-item fill="solid" class="m-3">
            <ion-label position="floating">Email :</ion-label>
            <ion-input type="email" ngModel Email value="{{member_data.member_email}}"></ion-input>
            
          </ion-item>
    
          <ion-item fill="solid" class="m-3">
            <ion-label position="floating">Mobile :</ion-label>
            <ion-input type="email" ngModel Mobile value="{{member_data.member_mobile}}"></ion-input>
            
          </ion-item>
          <ion-item fill="solid" class="m-3">
            <ion-label position="floating">New Password :</ion-label>
            <ion-input type="email" ngModel email></ion-input>
            
          </ion-item>
          <ion-button expand="full">Submit</ion-button>
        </ion-card-content>
      </ion-card>
      <div class="ion-padding">
        <ion-button color="dark" expand="block" routerLink="/recentorder">RECENT ORDER<ion-icon name="arrow-redo-outline"></ion-icon></ion-button>
      </div>
      
      
    </div>
  </div>
  
</ion-content>
