<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Menu Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-img src="http://localhost/Group2_Project/{{menu_detail?.image}}"></ion-img>
  <div class="ion-padding">
    <h1>{{menu_detail?.title}}</h1>
    <h2 class="article">{{menu_detail?.description}}</h2>
    <h2>${{menu_detail?.price}}</h2>
  </div>
  <ion-col>
    <ion-button type="button" (click)="minusQty()">-</ion-button>
  </ion-col>
  <ion-col>
    <ion-button>{{Qty}}</ion-button>
  </ion-col>
  <ion-col>
    <ion-button type="button" (click)="addQty()">+</ion-button>
  </ion-col>

  <ion-button color="warning" (click)="addCart()">Add</ion-button>

</ion-content>