<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/icecream.jpg"></ion-img>

  <div clas="ion-padding">
    <h1>Ice Cream</h1>
    <ion-grid>
      <ion-row>
       
        <ion-col>
          <ion-icon name=""></ion-icon>RM15.00
        </ion-col>
       

      </ion-row>
    </ion-grid>
    <p class="article">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas, massa vitae facilisis
      ultricies, ex neque pretium justo, at ornare mauris ipsum vel leo. Duis congue lectus vitae neque maximus tempus.
      Nulla tempor pharetra finibus. Nullam et fermentum quam. Cras pharetra nisi risus, sed rutrum lectus efficitur
      sed. Nam tempor viverra pretium. Aliquam accumsan vestibulum lacus. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Nullam blandit nisl efficitur cursus cursus.</p>
  </div>

</ion-content>
