.appColor{
    background-color:#000000;
}

.memberstlye{
    background-color: black;
    color :yellow;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.location{
    width: 1em;
    height: 1em;
    font-size:43px;
}

.black{
    color:white;
    background-color: black;
    padding: 10px;

}